<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apframework.ddd.employee.domain.repository.mapper.EmployeeMapper">
    <insert id="saveEmployeeSkillList">
        INSERT INTO e_employee_skill (employee_id, skill_id, skill_level_id) VALUES
        <foreach collection="skillList" item="skill" separator=",">
            (#{skill.employeeId},#{skill.skillId},#{skill.skillLevelId})
        </foreach>
    </insert>

    <select id="getEmployeeSkillListByEmployeeId" resultType="org.apframework.ddd.employee.domain.vo.EmployeeSkill">
        SELECT
            es.id AS id,
            es.skill_id AS skillId,
            s.category AS skillCategory,
            s.NAME AS skillName,
            es.skill_level_id AS skillLevelId,
            l.`name` AS skillLevelName,
            l.requirement AS skillLevelRequirement
        FROM
            `e_employee_skill` es
            INNER JOIN ( SELECT * FROM e_skill ) s ON s.id = es.skill_id
            INNER JOIN ( SELECT * FROM e_skill_level ) l ON l.id = es.skill_level_id
        WHERE
            es.employee_id = #{id}
    </select>
</mapper>